<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    
    <body>
        <h1> <%= title %> </h1>
        <ul>
            <% genres.forEach(function(genreObj) { %>
                <li>
                    <strong> <%= genreObj.genre %> </strong>
                </li>
            <% }); %>
        </ul>

        <button type="button" onclick="window.location.href='/'">Back to home</button>
    </body>
</html>