<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
<body>
  <h1><%= title %></h1>
    <p>Welcome to the inventory of the Games Shop. </p>
  <a href="/games"> Explore games </a>
  <a href="/genres"> Explore genres </a>
  <a href="/developers"> Explore developers </a>
</body>
</html>
